.productTable-container {
    overflow: hidden;
    width: max-content;
    /*margin: 200px auto;*/
    border-radius: 10px;
    border: 2px solid #e5e7eb;
    overflow-y: auto;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
}

.productTable-header {
    color: #555e72;
    background-color: #eff2f4; 
    border-bottom: 2px solid #e5e7eb;
    position: sticky;
    top: 0;
}

.table-head_column {
    text-align: left;
    padding: 10px 24px;
}