.layout-container {
  display: flex;
  height: 724px;
  margin: 100px 200px;
  justify-content: space-between;
}

.aside-box {
  /* width: 291px; */
  flex-basis: 26%;
  height: 724px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}